body {
  background: #f4f4f4;
  color: rgb(80, 55, 55);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /*same as above*/
  font: normal, 16px, Arial, Helvetica, sans-serif;

  line-height: 1.6em;
  margin: 0;
}

/* Vaiko selektorius */
aside > section {
  display: block;
}

/* Ipedinio selektorius */
table {
  border: solid !important;
}

/* Inherit */
table * {
  border: inherit;
}

#straipsnis {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #444;
  font-size: 17px;
}

a:active {
  color: green;
}

/* Atributo selektorius */
select[multiple] {
  background: #ddd;
  padding: 10px;
}

#red-select {
  background: red;
}
#yellow-select {
  background: yellow;
}
#green-select {
  background: green;
}
#blue-select {
  background: blue;
}

#artur {
  display: none;
}

@media (max-width: 600px) {
  aside {
    display: none;
  }
  .select {
    display: none;
  }
  img {
    width: 100%;
  }
}
